@charset "UTF-8";
.hero-card {
  gap: 1.5rem;
}
.hero-card .hero-animation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.hero-card .hero-animation .hero-icons i {
  font-size: 3rem;
}
.hero-card .hero-animation .hero-icons i.fa-lightbulb {
  color: rgba(255, 240, 0, 0.85);
}
.hero-card .hero-animation .hero-icons i.fa-plus, .hero-card .hero-animation .hero-icons i.fa-equals {
  font-size: 1.5rem;
}
.hero-card .hero-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
.hero-card .hero-btn i {
  padding-right: 0;
}
.hero-card .hero-btn h3 {
  padding-left: 0;
}

.hero-animation > div {
  height: 4rem;
  line-height: 4rem;
  overflow: hidden;
}

.hero-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hero-animation-service {
  animation: cycle var(--animation-duration) ease infinite;
}

div.hero-animation-services span {
  display: block;
}

html {
  scroll-behavior: smooth;
}

@keyframes cycle {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-200%);
  }
}
.hero-btn:hover {
  box-shadow: unset;
}
.hero-btn:hover i {
  color: lime;
}

i {
  font-size: 1.5rem;
  padding: 0.25em;
}
i.fa-brands.fa-android {
  color: limegreen;
}
i.fa-solid.fa-globe {
  color: blue;
}

.headquarters-card.card {
  padding: 0;
  width: 100%;
  max-width: 750px;
}
.headquarters-card.card iframe {
  width: 100%;
}

.office-hours-card {
  padding: 0;
}

.orb-service-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow-y: scroll;
  padding: 1em;
  width: 100%;
}
.orb-service-navigation .step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.orb-service-navigation .step a {
  text-decoration: none;
}
.orb-service-navigation .step a button {
  background-color: transparent;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.orb-service-navigation .step a button span {
  width: 3em;
  height: 3em;
  padding: 0.5em;
}
.orb-service-navigation .step a button span h3 {
  padding: 0;
  color: black;
}
.orb-service-navigation .step a button h4 {
  color: black;
  padding: 0.5em;
}

.orb-service-navigation .step-number.active {
  background-color: black;
  border-radius: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.orb-service-navigation .step-number.active h3 {
  color: white;
}

.invoice-card.card {
  padding: 0;
}

.payment-options {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.payment-options a button {
  padding: 0.5em;
}
.payment-options a.active button {
  background-color: white;
  color: black;
  box-shadow: none;
}

.debit-credit-card {
  position: relative;
  height: 250px;
  width: 400px;
}
.debit-credit-card .front {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: black;
  border-radius: 5px;
  backface-visibility: hidden;
  padding: 20px;
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 0.4s ease-out;
}
.debit-credit-card .front .image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.debit-credit-card .front .image img {
  height: 50px;
}
.debit-credit-card .front .card-number-box {
  padding: 30px 0;
  font-size: 22px;
  color: #fff;
}
.debit-credit-card .front .flexbox {
  display: flex;
}
.debit-credit-card .front .flexbox .box:nth-child(1) {
  margin-right: auto;
}
.debit-credit-card .front .flexbox .box {
  font-size: 15px;
  color: #fff;
}
.debit-credit-card .back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, blueviolet, deeppink);
  border-radius: 5px;
  padding: 20px 0;
  text-align: right;
  backface-visibility: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  transform: perspective(1000px) rotateY(180deg);
  transition: transform 0.4s ease-out;
}
.debit-credit-card .back .stripe {
  background: #000;
  width: 100%;
  margin: 10px 0;
  height: 50px;
}
.debit-credit-card .back .box {
  padding: 0 20px;
}
.debit-credit-card .back .box span {
  color: #fff;
  font-size: 15px;
}
.debit-credit-card .back .box .cvv-box {
  height: 50px;
  padding: 10px;
  margin-top: 5px;
  color: #333;
  background: #fff;
  border-radius: 5px;
  width: 100%;
}
.debit-credit-card .back .box img {
  margin-top: 30px;
  height: 30px;
}

.debit-credit-form {
  display: grid;
  grid-template-areas: "number number number" "holder holder holder" "month year cvv";
  gap: 1rem;
  width: 100%;
  max-width: 15rem;
}
.debit-credit-form input {
  width: 100%;
}
.debit-credit-form input.card-number-input {
  grid-area: number;
}
.debit-credit-form input.card-holder-input {
  grid-area: holder;
}
.debit-credit-form input.cvv-input {
  grid-area: cvv;
}
.debit-credit-form select.month-input {
  grid-area: month;
}
.debit-credit-form select.year-input {
  grid-area: year;
}

.stripe-card.card {
  align-items: unset;
  width: 100%;
  max-width: 20rem;
}
.stripe-card.card button {
  align-self: center;
}

.wire-transfer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.wire-transfer-container .bank-check {
  padding: 0.25rem;
  width: 100%;
  height: auto;
  max-width: 840px;
  max-height: 351.936px;
  aspect-ratio: 8.75/3.666;
}
.wire-transfer-container .bank-check table {
  width: 100%;
}
.wire-transfer-container .bank-check .check-logo {
  text-align: left;
}
.wire-transfer-container .bank-check .check-number {
  text-align: right;
}
.wire-transfer-container .bank-check .check-date {
  text-align: right;
}
.wire-transfer-container .bank-check .check-pay-to-border {
  border-bottom: #000 solid;
}
.wire-transfer-container .bank-check .check-pay-to-border .check-pay-to {
  text-align: left;
}
.wire-transfer-container .bank-check .check-amount-box {
  border: #000 solid;
}
.wire-transfer-container .bank-check .check-amount-box .check-amount {
  text-align: right;
}
.wire-transfer-container .bank-check .amount-words-border {
  border-bottom: #000 solid;
}
.wire-transfer-container .bank-check .amount-words-border .amount-words {
  text-align: left;
}
.wire-transfer-container .bank-check .memo-border {
  display: flex;
  flex-direction: row;
}
.wire-transfer-container .bank-check .memo-border .memo {
  border-bottom: #000 solid;
  width: 100%;
  text-align: left;
  padding-left: 0.5rem;
}
.wire-transfer-container .bank-check .signature-border {
  border-bottom: #000 solid;
}
.wire-transfer-container .bank-check .bank-numbers {
  display: flex;
  flex-direction: row;
}
.wire-transfer-container .bank-check .bank-numbers span {
  padding-left: 0.5rem;
}
.wire-transfer-container .bank-check .bank-numbers span.routing-number:before {
  content: "⑆";
}
.wire-transfer-container .bank-check .bank-numbers span.account-number:before {
  content: "⑈";
}
.wire-transfer-container .wire-transfer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  max-width: fit-content;
}

.crypto-container {
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.status-bar {
  background-color: black;
}
.status-bar span {
  color: white;
}
.status-bar span.info {
  color: blue;
}
.status-bar span.caution {
  color: yellow;
}
.status-bar span.error {
  color: red;
}
.status-bar span.success {
  color: green;
}

.total-due-label {
  text-align: right;
}

.total-due {
  text-align: right;
}

.schedule-select {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.schedule-select .date-select.card,
.schedule-select .time-select.card {
  padding: 0;
  gap: unset;
}
.schedule-select .date-select.card label,
.schedule-select .time-select.card label {
  background-color: black;
  color: white;
  padding: 0.25em;
}

.service-icon i {
  font-size: 3rem;
  padding: 0;
}

.service-features-card.card {
  padding: 0;
  gap: 0;
}
.service-features-card.card h3 {
  background-color: black;
  color: white;
  padding: 0.25em;
  width: 100%;
  margin: 0;
}
.service-features-card.card .service-features {
  padding: 0.5rem;
}

.details-card {
  padding: 0;
  gap: 0;
}
.details-card h4 {
  width: 100%;
  background-color: black;
  color: white;
  padding: 0.25em;
  margin: 0;
}
.details-card .details {
  padding: 0.5em;
}

.quote,
.invoice,
.receipt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.quote-card.card,
.invoice-card.card,
.schedule-card.card,
.receipt-card.card {
  max-width: fit-content;
  padding: 0;
}

.services .services-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5em;
  align-items: center;
  justify-content: center;
}
.services .services-list .services-card {
  min-width: 12.5em;
  height: 20em;
  opacity: 0.85;
  gap: 0.375rem;
}
.services .services-list .services-card .services-name,
.services .services-list .services-card .services-icon,
.services .services-list .services-card .services-description,
.services .services-list .services-card .services-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services .services-list .services-card .services-icon i {
  font-size: 3rem;
  padding: 0;
}
.services .services-list .services-card .services-features {
  overflow: auto;
  height: 10rem;
}
.services .services-list .services-card .services-features ul li {
  list-style: none;
  padding: 0.25em;
}
.services .services-list .services-card .services-action .services-btn {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}
.services .services-list .services-card .services-action .services-btn i {
  font-size: 1.75rem;
  padding-right: 0;
}
.services .services-list .services-card .services-action .services-btn h3 {
  text-transform: uppercase;
  padding-left: 0;
}

.receipt-card.card {
  display: grid;
  gap: 0.25em;
  min-width: 25rem;
  width: 100%;
  overflow: hidden;
}
.receipt-card.card .th h4,
.receipt-card.card th h4 {
  padding: 0.25em 0;
  background-color: black;
  color: white;
}
.receipt-card.card .td h5,
.receipt-card.card td h5 {
  padding: 0.25em;
}
.receipt-card.card .thead,
.receipt-card.card .tbody,
.receipt-card.card .tfoot {
  width: 100%;
}
.receipt-card.card .thead .address-line-1,
.receipt-card.card .thead .address-line-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.receipt-card.card .thead .tr.payment-method {
  grid-area: payment-method;
}
.receipt-card.card .thead .tr.receipt-number {
  grid-area: receipt-number;
}
.receipt-card.card .thead .tr.client-details {
  grid-area: client-details;
}
.receipt-card.card .thead .tr.payment-date {
  grid-area: payment-date;
}
.receipt-card.card table {
  display: none;
}
.receipt-card.card table th {
  text-align: center;
}
.receipt-card.card table tbody td.selections-cost {
  text-align: end;
}
.receipt-card.card .tfoot .tr.subtotal {
  grid-area: subtotal;
}
.receipt-card.card .tfoot .tr.tax {
  grid-area: tax;
}
.receipt-card.card .tfoot .tr.grand-total {
  grid-area: grand-total;
}
.receipt-card.card .tfoot .tr.amount-paid {
  grid-area: amount-paid;
}
.receipt-card.card .tfoot .tr.balance {
  grid-area: balance;
}

@media (min-width: 700px) {
  .receipt-card.card .tr {
    width: fit-content;
  }
  .receipt-card.card .thead {
    display: grid;
    grid-template-areas: "receipt-number receipt-number" "payment-date payment-date" "payment-method payment-method" "client-details client-details";
    gap: 0.25em;
  }
  .receipt-card.card .thead .receipt-number,
.receipt-card.card .thead .payment-date,
.receipt-card.card .thead .payment-method {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.25em;
  }
  .receipt-card.card .thead .receipt-number h4,
.receipt-card.card .thead .payment-date h4,
.receipt-card.card .thead .payment-method h4 {
    padding: 0.25em;
  }
  .receipt-card.card .thead .client-details {
    width: 100%;
  }
  .receipt-card.card .thead .client-details .address-line-1,
.receipt-card.card .thead .client-details .address-line-2,
.receipt-card.card .thead .client-details .phone,
.receipt-card.card .thead .client-details .email {
    width: 100%;
  }
  .receipt-card.card .tfoot {
    display: grid;
    grid-template-areas: "subtotal-label subtotal-number" "tax-label tax-number" "grand-total-label grand-total-number" "amount-paid-label amount-paid-number" "balance-label balance-number";
    justify-content: end;
    gap: 0.25em;
  }
  .receipt-card.card .tfoot .subtotal,
.receipt-card.card .tfoot .tax,
.receipt-card.card .tfoot .grand-total,
.receipt-card.card .tfoot .amount-paid,
.receipt-card.card .tfoot .balance {
    display: contents;
  }
  .receipt-card.card .tfoot .th {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .receipt-card.card .tfoot .th h4 {
    padding: 0.25em;
  }
  .receipt-card.card .tfoot .th.subtotal-label {
    grid-area: subtotal-label;
  }
  .receipt-card.card .tfoot .th.tax-label {
    grid-area: tax-label;
  }
  .receipt-card.card .tfoot .th.grand-total-label {
    grid-area: grand-total-label;
  }
  .receipt-card.card .tfoot .th.amount-paid-label {
    grid-area: amount-paid-label;
  }
  .receipt-card.card .tfoot .th.balance-label {
    grid-area: balance-label;
  }
  .receipt-card.card .tfoot .td {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .receipt-card.card .tfoot .td.subtotal-number {
    grid-area: subtotal-number;
  }
  .receipt-card.card .tfoot .td.tax-number {
    grid-area: tax-number;
  }
  .receipt-card.card .tfoot .td.grand-total-number {
    grid-area: grand-total-number;
  }
  .receipt-card.card .tfoot .td.amount-paid-number {
    grid-area: amount-paid-number;
  }
  .receipt-card.card .tfoot .td.balance-number {
    grid-area: balance-number;
  }
}
@media (min-width: 900px) {
  .receipt-card.card .thead {
    grid-template-areas: "receipt-number receipt-number" "payment-date payment-date" "payment-method payment-method" "client-details";
    gap: 0.25em;
  }
  .receipt-card.card .thead .payment-date {
    align-items: start;
  }
  .receipt-card.card .thead .payment-date td {
    align-items: center;
  }
  .receipt-card.card table {
    display: table;
  }
}

/*# sourceMappingURL=orb-services.css.map */
