@charset "UTF-8";
.hero-card {
  gap: 1.5rem;
}
.hero-card .hero-animation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.hero-card .hero-animation .hero-icons i {
  font-size: 3rem;
}
.hero-card .hero-animation .hero-icons i.fa-lightbulb {
  color: rgba(255, 240, 0, 0.85);
}
.hero-card .hero-animation .hero-icons i.fa-plus, .hero-card .hero-animation .hero-icons i.fa-equals {
  font-size: 1.5rem;
}
.hero-card .hero-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
.hero-card .hero-btn i {
  padding-right: 0;
}
.hero-card .hero-btn h3 {
  padding-left: 0;
}

.hero-animation > div {
  height: 4rem;
  line-height: 4rem;
  overflow: hidden;
}

.hero-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hero-animation-service {
  animation: cycle var(--animation-duration) ease infinite;
}

div.hero-animation-services span {
  display: block;
}

html {
  scroll-behavior: smooth;
}

@keyframes cycle {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-200%);
  }
}
.hero-btn:hover {
  box-shadow: unset;
}
.hero-btn:hover i {
  color: lime;
}

i {
  font-size: 1.5rem;
  padding: 0.25em;
}
i.fa-brands.fa-android {
  color: limegreen;
}
i.fa-solid.fa-globe {
  color: blue;
}

.headquarters-card.card {
  padding: 0;
  width: 100%;
  max-width: 750px;
}
.headquarters-card.card iframe {
  width: 100%;
}

.office-hours-card {
  padding: 0;
}

.orb-service-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow-y: scroll;
  padding: 1em;
  width: 100%;
}
.orb-service-navigation .step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.orb-service-navigation .step a {
  text-decoration: none;
}
.orb-service-navigation .step a button {
  background-color: transparent;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.orb-service-navigation .step a button span {
  width: 3em;
  height: 3em;
  padding: 0.5em;
}
.orb-service-navigation .step a button span h3 {
  padding: 0;
  color: black;
}
.orb-service-navigation .step a button h4 {
  color: black;
  padding: 0.5em;
}

.orb-service-navigation .step-number.active {
  background-color: black;
  border-radius: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.orb-service-navigation .step-number.active h3 {
  color: white;
}

.invoice-card.card {
  padding: 0;
}

.payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.payment .payment-options {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.payment .payment-options a button {
  padding: 0.5em;
}
.payment .payment-options a.active button {
  background-color: white;
  color: black;
  box-shadow: none;
}
.payment .debit-credit-card {
  position: relative;
  height: 250px;
  width: 400px;
}
.payment .debit-credit-card .front {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: black;
  border-radius: 5px;
  backface-visibility: hidden;
  padding: 20px;
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 0.4s ease-out;
}
.payment .debit-credit-card .front .image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.payment .debit-credit-card .front .image img {
  height: 50px;
}
.payment .debit-credit-card .front .card-number-box {
  padding: 30px 0;
  font-size: 22px;
  color: #fff;
}
.payment .debit-credit-card .front .flexbox {
  display: flex;
}
.payment .debit-credit-card .front .flexbox .box:nth-child(1) {
  margin-right: auto;
}
.payment .debit-credit-card .front .flexbox .box {
  font-size: 15px;
  color: #fff;
}
.payment .debit-credit-card .back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, blueviolet, deeppink);
  border-radius: 5px;
  padding: 20px 0;
  text-align: right;
  backface-visibility: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  transform: perspective(1000px) rotateY(180deg);
  transition: transform 0.4s ease-out;
}
.payment .debit-credit-card .back .stripe {
  background: #000;
  width: 100%;
  margin: 10px 0;
  height: 50px;
}
.payment .debit-credit-card .back .box {
  padding: 0 20px;
}
.payment .debit-credit-card .back .box span {
  color: #fff;
  font-size: 15px;
}
.payment .debit-credit-card .back .box .cvv-box {
  height: 50px;
  padding: 10px;
  margin-top: 5px;
  color: #333;
  background: #fff;
  border-radius: 5px;
  width: 100%;
}
.payment .debit-credit-card .back .box img {
  margin-top: 30px;
  height: 30px;
}
.payment .debit-credit-form {
  display: grid;
  grid-template-areas: "number number number" "holder holder holder" "month year cvv";
  gap: 1rem;
  width: 100%;
  max-width: 15rem;
}
.payment .debit-credit-form input {
  width: 100%;
}
.payment .debit-credit-form input.card-number-input {
  grid-area: number;
}
.payment .debit-credit-form input.card-holder-input {
  grid-area: holder;
}
.payment .debit-credit-form input.cvv-input {
  grid-area: cvv;
}
.payment .debit-credit-form select.month-input {
  grid-area: month;
}
.payment .debit-credit-form select.year-input {
  grid-area: year;
}
.payment .stripe-card.card {
  align-items: unset;
  width: 100%;
  max-width: 20rem;
}
.payment .stripe-card.card button {
  align-self: center;
}
.payment .wire-transfer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.payment .wire-transfer-container .bank-check {
  padding: 0.25rem;
  width: 100%;
  height: auto;
  max-width: 840px;
  max-height: 351.936px;
  aspect-ratio: 8.75/3.666;
}
.payment .wire-transfer-container .bank-check table {
  width: 100%;
}
.payment .wire-transfer-container .bank-check .check-logo {
  text-align: left;
}
.payment .wire-transfer-container .bank-check .check-number {
  text-align: right;
}
.payment .wire-transfer-container .bank-check .check-date {
  text-align: right;
}
.payment .wire-transfer-container .bank-check .check-pay-to-border {
  border-bottom: #000 solid;
}
.payment .wire-transfer-container .bank-check .check-pay-to-border .check-pay-to {
  text-align: left;
}
.payment .wire-transfer-container .bank-check .check-amount-box {
  border: #000 solid;
}
.payment .wire-transfer-container .bank-check .check-amount-box .check-amount {
  text-align: right;
}
.payment .wire-transfer-container .bank-check .amount-words-border {
  border-bottom: #000 solid;
}
.payment .wire-transfer-container .bank-check .amount-words-border .amount-words {
  text-align: left;
}
.payment .wire-transfer-container .bank-check .memo-border {
  display: flex;
  flex-direction: row;
}
.payment .wire-transfer-container .bank-check .memo-border .memo {
  border-bottom: #000 solid;
  width: 100%;
  text-align: left;
  padding-left: 0.5rem;
}
.payment .wire-transfer-container .bank-check .signature-border {
  border-bottom: #000 solid;
}
.payment .wire-transfer-container .bank-check .bank-numbers {
  display: flex;
  flex-direction: row;
}
.payment .wire-transfer-container .bank-check .bank-numbers span {
  padding-left: 0.5rem;
}
.payment .wire-transfer-container .bank-check .bank-numbers span.routing-number:before {
  content: "⑆";
}
.payment .wire-transfer-container .bank-check .bank-numbers span.account-number:before {
  content: "⑈";
}
.payment .wire-transfer-container .wire-transfer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  max-width: fit-content;
}
.payment .crypto-container {
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.total-due-label {
  text-align: right;
}

.total-due {
  text-align: right;
}

.schedule-select {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.schedule-select .date-select.card,
.schedule-select .time-select.card {
  padding: 0;
  gap: unset;
}
.schedule-select .date-select.card label,
.schedule-select .time-select.card label {
  background-color: black;
  color: white;
  padding: 0.25em;
}

.service-icon i {
  font-size: 3rem;
  padding: 0;
}

.service-features-card.card {
  padding: 0;
  gap: 0;
}
.service-features-card.card h3 {
  background-color: black;
  color: white;
  padding: 0.25em;
  width: 100%;
  margin: 0;
}
.service-features-card.card .service-features {
  padding: 0.5rem;
}

.details-card {
  padding: 0;
  gap: 0;
}
.details-card h4 {
  width: 100%;
  background-color: black;
  color: white;
  padding: 0.25em;
  margin: 0;
}
.details-card .details {
  padding: 0.5em;
}

.quote,
.invoice,
.receipt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.quote-card.card,
.invoice-card.card,
.schedule-card.card,
.receipt-card.card {
  max-width: fit-content;
  padding: 0;
}

thead .bill-to-label,
thead .bill-to-due-date-label,
thead .bill-to-total-due-label,
thead .paid-by-label,
thead .paid-by-paid-label,
thead .paid-by-amount-label {
  text-align: right;
}
thead .bill-to-due-date,
thead .bill-to-total-due,
thead .paid-by-date,
thead .paid-by-amount {
  text-align: left;
}

.bill-to-name,
.bill-to-address,
.bill-to-city,
.bill-to-state,
.bill-to-zipcode,
.bill-to-phone,
.bill-to-email,
.paid-by-name,
.paid-by-address,
.paid-by-city,
.paid-by-state,
.paid-by-zipcode,
.paid-by-phone,
.paid-by-email {
  text-align: left;
}

tfoot .subtotal-label,
tfoot .tax-label,
tfoot .grand-total-label,
tfoot .amount-paid-label,
tfoot .balance-label {
  text-align: right;
}

.services .services-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5em;
  align-items: center;
  justify-content: center;
}
.services .services-list .services-card {
  min-width: 12.5em;
  height: 20em;
  opacity: 0.85;
  gap: 0.375rem;
}
.services .services-list .services-card .services-name,
.services .services-list .services-card .services-icon,
.services .services-list .services-card .services-description,
.services .services-list .services-card .services-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services .services-list .services-card .services-icon i {
  font-size: 3rem;
  padding: 0;
}
.services .services-list .services-card .services-features {
  overflow: auto;
  height: 10rem;
}
.services .services-list .services-card .services-features ul li {
  list-style: none;
  padding: 0.25em;
}
.services .services-list .services-card .services-action .services-btn {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}
.services .services-list .services-card .services-action .services-btn i {
  font-size: 1.75rem;
  padding-right: 0;
}
.services .services-list .services-card .services-action .services-btn h3 {
  text-transform: uppercase;
  padding-left: 0;
}

table {
  border-spacing: 0.25em;
}
table th {
  background-color: black;
  color: white;
}
table th,
table td {
  padding: 0.25em;
}
table .options {
  background-color: transparent;
}
table .table-number {
  text-align: right;
}

/*# sourceMappingURL=orb-services.css.map */
