.hero-card {
  gap: 1.5rem;

  .hero-animation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .hero-icons {
      i {
        font-size: 3rem;

        &.fa-lightbulb {
          color: var(--orb-color-caution);
        }

        &.fa-plus,
        &.fa-equals {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.hero-animation > div {
  // text-align: left;
  height: 4rem;
  line-height: 4rem;
  overflow: hidden;
}

.hero-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hero-animation-service {
  animation: cycle var(--animation-duration) ease infinite;
}

div.hero-animation-services span {
  display: block;
}

html {
  scroll-behavior: smooth;
}

@keyframes cycle {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(-200%);
  }
}

.start-btn:hover {
  box-shadow: unset;

  i {
    color: lime;
  }
}

.start-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  box-shadow: 0 0 1em rgba(255, 255, 255, 0.85);
  
  i {
    padding-right: 0;
  }

  h3 {
    padding-left: 0;
  }
}
