:root {
  --total-services: 3;
  --service-height: 6rem;
  --animation-duration: calc(var(--total-services) * 1.5s);
}

.hero-card {
  gap: 1.5rem;

  .hero-animation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    overflow: hidden;

    .hero-icons {
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      gap: 1rem;

      i {
        font-size: 3rem;
        padding: 0;

        &.fa-lightbulb {
          color: var(--orb-color-caution);
        }

        &.fa-plus,
        &.fa-equals {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.hero-animation-services {
  width: fit-content;
  overflow: hidden;
  animation: cycle var(--animation-duration) infinite linear;
  padding-left: 1rem;
}

.hero-animation-service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--service-height);
  width: 100%;
  text-align: left;

  h3 {
    text-transform: uppercase;
    letter-spacing: 0;
    margin-right: 0;
  }
}

@keyframes cycle {
  100% {
    transform: translateY(calc(-100% / 2));
  }
}

.start-btn:hover {
  box-shadow: unset;

  i {
    color: lime;
  }
}

.start-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.85);

  i {
    padding-right: 0;
  }

  h3 {
    padding-left: 0;
  }
}
