.hero-card {
  gap: 1.5em;

  .hero-animation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .hero-icons {
      i {
        font-size: 3rem;

        &.fa-lightbulb {
          color: yellow;
        }

        &.fa-plus,
        &.fa-equals {
          font-size: 1.5rem;
        }
      }
    }
  }

  h4 {
    letter-spacing: 0;
    margin-right: 0;
  }

  .hero-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    i {
      padding-right: 0;
    }

    h3 {
      padding-left: 0;
    }
  }
}

.hero-animation > div {
  text-align: left;
  height: 4rem;
  line-height: 4rem;
  overflow: hidden;
}

.hero-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* solution */
div.hero-animation-services span {
  display: block;
}

div.hero-animation-services {
  position: relative;
  animation: cycle ease 4s infinite;
  padding-left: 0.5em;
}

@keyframes cycle {
  0% {
    top: 0;
  }
  5% {
    top: 0;
  }
  10% {
    top: 0;
  }
  15% {
    top: 0;
  }
  20% {
    top: 0;
  }
  25% {
    top: -4rem;
  }
  30% {
    top: -4rem;
  }
  35% {
    top: -4rem;
  }
  40% {
    top: -4rem;
  }
  45% {
    top: -4rem;
  }
  50% {
    top: -8rem;
  }
  55% {
    top: -8rem;
  }
  60% {
    top: -8rem;
  }
  65% {
    top: -8rem;
  }
  70% {
    top: -8rem;
  }
  75% {
    top: -12rem;
  }
  80% {
    top: -12rem;
  }
  90% {
    top: -12rem;
  }
  95% {
    top: -12rem;
  }
  100% {
    top: -12rem;
  }
}