.orb-service-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow-y: scroll;
  padding: 1em;
  width: 100%;

  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    a {
      text-decoration: none;

      button {
        background-color: transparent;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
          width: 3em;
          height: 3em;
          padding: 0.5em;

          h3 {
            padding: 0;
            color: black;
          }
        }

        h4 {
          color: black;
          padding: 0.5em;
        }
      }
    }
  }
}

.orb-service-navigation .step-number.active {
  background-color: black;
  border-radius: 2em;
  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    color: white;
  }
}
