.services {
  .services-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5em;
    align-items: center;
    justify-content: center;

    .services-card {
      min-width: 12.5em;
      height: 20em;
      opacity: 0.85;
      gap: 0.375rem;

      .services-name,
      .services-icon,
      .services-description,
      .services-action {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .services-icon {
        i {
          font-size: 3rem;
          padding: 0;
        }
      }

      .services-features {
        overflow: auto;
        height: 10rem;

        ul {
          li {
            list-style: none;
            padding: 0.25em;
          }
        }
      }

      .services-action {

        .services-btn {
          display: flex;
          flex-direction: row;
          gap: 0.5em;
          align-items: center;
          justify-content: center;

          i {
            font-size: 1.75rem;
            padding-right: 0;
          }

          h3 {
            text-transform: uppercase;
            padding-left: 0;
          }
        }
      }
    }
  }
}
