.service-icon {
  i {
    font-size: 3rem;
    padding: 0;
  }
}

.service-features-card.card {
  padding: 0;
  gap: 0;

  h3 {
    background-color: black;
    color: white;
    padding: 0.25em;
    width: 100%;
    margin: 0;
  }

  .service-features {
    padding: 0.5rem;
  }
}

.details-card {
  padding: 0;
  gap: 0;

  h4 {
    width: 100%;
    background-color: black;
    color: white;
    padding: 0.25em;
    margin: 0;
  }
  .details {
    padding: 0.5em;
  }
}
.quote,
.invoice,
.schedule,
.receipt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.quote-card.card,
.invoice-card.card,
.schedule-card.card,
.receipt-card.card {
  max-width: fit-content;
  padding: 0;
}

thead {
  .bill-to-label,
  .bill-to-due-date-label,
  .bill-to-total-due-label,
  .paid-by-label,
  .paid-by-paid-label,
  .paid-by-amount-label {
    text-align: right;
  }

  .bill-to-due-date,
  .bill-to-total-due,
  .paid-by-date,
  .paid-by-amount {
    text-align: left;
  }
}

.bill-to-name,
.bill-to-address,
.bill-to-city,
.bill-to-state,
.bill-to-zipcode,
.bill-to-phone,
.bill-to-email,
.paid-by-name,
.paid-by-address,
.paid-by-city,
.paid-by-state,
.paid-by-zipcode,
.paid-by-phone,
.paid-by-email {
  text-align: left;
}

tfoot {
  .subtotal-label,
  .tax-label,
  .grand-total-label,
  .amount-paid-label,
  .balance-label {
    text-align: right;
  }
}
