.status-bar.card {
  background-color: var(--orb-products-services-color-primary);
  &.info {
    background-color: var(--orb-products-services-color-info);
  }
  &.caution {
    background-color: var(--orb-products-services-color-caution);
  }
  &.error {
    background-color: var(--orb-products-services-color-error);
  }
  &.success {
    background-color: var(--orb-products-services-color-success);
  }
  span {
    color: var(--orb-products-services-color-secondary);

    h4 {
      padding: 0.5em;
    }
  }
}
