.receipt-card.card {
  display: grid;
  gap: 0.25em;
  min-width: 25rem;
  width: 100%;
  overflow: hidden;

  .th,
  th {
    h4 {
      padding: 0.25em 0;
      background-color: black;
      color: white;
    }
  }

  .td,
  td {
    h5 {
      padding: 0.25em;
    }
  }

  .thead,
  .tbody,
  .tfoot {
    width: 100%;
  }

  .thead {
    .address-line-1,
    .address-line-2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .tr {
      &.payment-method {
        grid-area: payment-method;
      }

      &.receipt-number {
        grid-area: receipt-number;
      }

      &.client-details {
        grid-area: client-details;
      }

      &.payment-date {
        grid-area: payment-date;
      }
    }
  }

  table {
    display: none;

    th {
      text-align: center;
    }

    tbody {
      td.selections-cost {
        text-align: end;
      }
    }
  }

  .tfoot {
    .tr {
      &.subtotal {
        grid-area: subtotal;
      }

      &.tax {
        grid-area: tax;
      }

      &.grand-total {
        grid-area: grand-total;
      }

      &.amount-paid {
        grid-area: amount-paid;
      }

      &.balance {
        grid-area: balance;
      }
    }
  }
}

@media (min-width: 700px) {
  .receipt-card.card {
    .tr {
      width: fit-content;
    }
    .thead {
      display: grid;
      grid-template-areas:
        'receipt-number receipt-number'
        'payment-date payment-date'
        'payment-method payment-method'
        'client-details client-details';
      gap: 0.25em;

      .receipt-number,
      .payment-date,
      .payment-method {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.25em;

        h4 {
          padding: 0.25em;
        }
      }

      .client-details {
        width: 100%;

        .address-line-1,
        .address-line-2,
        .phone,
        .email {
          width: 100%;
        }
      }
    }

    .tfoot {
      display: grid;
      grid-template-areas:
        'subtotal-label subtotal-number'
        'tax-label tax-number'
        'grand-total-label grand-total-number'
        'amount-paid-label amount-paid-number'
        'balance-label balance-number';
      justify-content: end;
      gap: 0.25em;

      .subtotal,
      .tax,
      .grand-total,
      .amount-paid,
      .balance {
        display: contents;
      }

      .th {
        display: flex;
        align-items: center;
        justify-content: end;

        h4 {
          padding: 0.25em;
        }

        &.subtotal-label {
          grid-area: subtotal-label;
        }
        &.tax-label {
          grid-area: tax-label;
        }
        &.grand-total-label {
          grid-area: grand-total-label;
        }
        &.amount-paid-label {
          grid-area: amount-paid-label;
        }
        &.balance-label {
          grid-area: balance-label;
        }
      }

      .td {
        display: flex;
        align-items: center;
        justify-content: end;

        &.subtotal-number {
          grid-area: subtotal-number;
        }
        &.tax-number {
          grid-area: tax-number;
        }
        &.grand-total-number {
          grid-area: grand-total-number;
        }
        &.amount-paid-number {
          grid-area: amount-paid-number;
        }
        &.balance-number {
          grid-area: balance-number;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .receipt-card.card {
    .thead {
      grid-template-areas:
        'receipt-number receipt-number'
        'payment-date payment-date'
        'payment-method payment-method'
        'client-details';
      gap: 0.25em;

      .payment-date {
        align-items: start;

        td {
          align-items: center;
        }
      }
    }

    table {
      display: quote-table;
    }
  }
}

table {
  border-spacing: 0.375em;
  border-collapse: collapse;
}

thead,
tfoot {
  th {
    h4 {
      background-color: black;
      color: white;
      padding: 0.375em;
    }
  }
}

td {
  padding: 0.375em;
  text-transform: capitalize;
}

