table {
  border-spacing: 0.375em;
  border-collapse: collapse;

  thead {
    tr {
      th {
        background-color: var(--orb-products-services-table-color);
        h4 {
          padding: 0.25em 0;
          margin: 0;
          color: var(--orb-products-services-table-color-text);
        }
      }
    }
  }

  th {
    border-right: 0.375em solid var(--orb-products-services-table-border-color);
  }

  th,
  td {
    padding: 0.375em;
  }

  th:last-child {
    border-right: none;
  }

  td {
    text-transform: capitalize;
    h5 {
      letter-spacing: unset;
      color: var(--orb-products-services-table-body-color-text);
    }
    h4 {
      color: var(--orb-products-services-table-body-color-text);
    }
  }

  tr {
    border-bottom: 0.05em solid var(--orb-products-services-table-body-border-color);
  }

  tbody {
    background-color: var(--orb-products-services-table-body-color);
  }

  tfoot {
    tr {
      th {
        background-color: var(--orb-products-services-table-color);
        h4 {
          padding: 0.25em 0;
          margin: 0;
          color: var(--orb-products-services-table-color-text);
        }
      }
    }
    tr:last-child {
      border-bottom: none;
    }
  }
}